<div class="surface-card p-4 shadow-2 border-round mt-3">
  <div class="card flex content-left gap-3 mb-3">
    <p-button label="Regresar" icon="pi pi-arrow-circle-left"></p-button>
  </div>
  <div class="font-medium text-3xl text-700 mb-3">
    Nueva Acción Disciplinaria
  </div>
  <div class="text-500 mb-5">
    Ingresar los detalles de la acción disciplinaria.
  </div>
  <form>
    <ul class="list-none p-0 m-0">
      <li
        class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="formgrid grid mb-2">
          <div class="col-12 md:col-3">
            <div class="text-500 w-6 font-medium mb-2">Empleado</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-dropdown
                [options]="users"
                name="evaluateeuser"
                optionLabel="FullName"
                optionValue="UserID"
                [(ngModel)]="da.UserID"
                [filter]="true"
                filterBy="FullName"
                [showClear]="true"
                (onChange)="onUserSelected($event)"
                styleClass="w-full"
                appendTo="body"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption?.FullName }}</div>
                  </div>
                </ng-template>
                <ng-template let-user pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ user.FullName }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <div class="text-500 w-6 font-medium mb-2">Puesto Laboral</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <input
                type="text"
                pInputText
                id="jobTitle"
                name="jobTitle"
                [(ngModel)]="userDetails.JobTitle"
                [disabled]="true"
                required
                class="w-full"
              />
            </div>
          </div>
          <div class="col-12 md:col-3">
            <div class="text-500 w-6 font-medium mb-2">Departamento</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <input
                type="text"
                pInputText
                id="department"
                name="department"
                [(ngModel)]="userDetails.Department"
                [disabled]="true"
                required
                class="w-full"
              />
            </div>
          </div>
          <div class="col-12 md:col-3">
            <div class="text-500 font-medium mb-2">Fecha de Aplicación</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-calendar
                name="date"
                appendTo="body"
                [showIcon]="true"
                [(ngModel)]="da.DateApplied"
                styleClass="w-full"
              ></p-calendar>
            </div>
          </div>
        </div>
      </li>
      <li
        class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="formgrid grid mb-2">
          <div class="col-12 md:col-4">
            <div class="text-500 w-6 font-medium mb-2">Aplicada Por</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-dropdown
                [options]="users"
                name="evaluatoruser"
                optionLabel="FullName"
                optionValue="UserID"
                [(ngModel)]="da.ReportedBy"
                [filter]="true"
                filterBy="FullName"
                [showClear]="true"
                styleClass="w-full"
                appendTo="body"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption?.FullName }}</div>
                  </div>
                </ng-template>
                <ng-template let-user pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ user.FullName }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="text-500 w-6 font-medium mb-2">Motivo</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-dropdown
                name="reason"
                [options]="reasons"
                optionLabel="Description"
                optionValue="DisciplinaryActionReasonID"
                [(ngModel)]="da.DisciplinaryActionReasonID"
                (onChange)="onReasonSelected($event)"
                styleClass="w-full"
                appendTo="body"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="text-500 font-medium mb-2">Tipo de Advertencia</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-dropdown
                name="type"
                [options]="warningLevels"
                optionLabel="WarningLevel"
                optionValue="WarningLevelID"
                [(ngModel)]="da.WarningID"
                styleClass="w-full"
                appendTo="body"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 col-12 font-medium">Descripión</div>
        <div class="text-900 w-full md:flex-order-0 flex-order-1">
          <div class="card">
            <p-editor name="comments" [style]="{ height: '150px' }" [(ngModel)]=" da.Description" />
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 col-12 font-medium">Acciones Correctivas</div>
        <div class="text-900 w-full md:flex-order-0 flex-order-1">
          <div class="card">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="da.ActionTaken"
            />
          </div>
        </div>
      </li>
    </ul>
    <h4>Tareas Adicionales</h4>
    <div
      class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
    >
      <div *ngIf="showDetalles" class="flex flex-shrink-0 mb-2">
        <div class="text-400 col-12 md:col-6 font-medium">Tarea</div>
        <div class="text-400 col-12 md:col-2 font-medium">
          Fecha de Seguimiento
        </div>
        <div class="text-400 col-12 md:col-3 font-medium">Estado</div>
      </div>
      <div
        *ngFor="let task of da.Tasks; let i = index"
        class="formgrid grid mb-3"
      >
        <div class="field col-12 md:col-6">
          <input
            name="Task"
            type="text"
            pInputText
            [(ngModel)]="task.Task"
            class="w-full"
          />
        </div>
        <div class="field col-12 md:col-2">
          <p-calendar
            name="FollowUpDate"
            appendTo="body"
            [(ngModel)]="task.FollowUpDate"
            [showIcon]="true"
            styleClass="w-full"
          ></p-calendar>
        </div>
        <div class="field col-12 md:col-3">
          <p-dropdown
            name="option"
            [options]="options"
            optionLabel="name"
            optionValue="code"
            [(ngModel)]="task.Status"
            styleClass="w-full"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <i [class]="selectedOption?.icon"></i>
                <div>{{ selectedOption?.name }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-option>
              <div class="flex align-items-center gap-2">
                <i [class]="option.icon"></i>
                <div>{{ option.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-1">
          <p-button
            (onClick)="removeTask(i)"
            [text]="true"
            icon="pi pi-times"
            severity="danger"
            size="small"
          ></p-button>
        </div>
      </div>
    </div>
    <button
      type="button"
      pButton
      label="Agregar Tarea"
      (click)="addTask()"
    ></button>
    <div class="flex justify-content-end mt-3">
      <button
        type="submit"
        pButton
        label="Guardar"
        icon="pi pi-check"
        class="p-button-success"
        (click)="saveDisciplinaryAction()"
      ></button>
    </div>
  </form>
</div>
