<div class="surface-card p-4 shadow-2 border-round mt-3">
  <div class="card flex content-left gap-3 mb-3">
    <p-button label="Regresar" icon="pi pi-arrow-circle-left"></p-button>
  </div>
  <div class="font-medium text-3xl text-700 mb-3">Nuevo Plan de Mejora</div>
  <div class="text-500 mb-5">
    Ingresar los detalles del plan de mejora de rendimiento.
  </div>
  <form>
    <ul class="list-none p-0 m-0">
      <li
        class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="formgrid grid mb-2">
          <div class="col-12 md:col-4">
            <div class="text-500 w-6 font-medium mb-2">Empleado</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-dropdown
                [options]="users"
                name="employee"
                optionLabel="FullName"
                optionValue="UserID"
                [(ngModel)]="actionPlan.EmployeeUserID"
                [filter]="true"
                filterBy="FullName"
                [showClear]="true"
                (onChange)="onUserSelected($event)"
                styleClass="w-full"
                appendTo="body"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption?.FullName }}</div>
                  </div>
                </ng-template>
                <ng-template let-user pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ user.FullName }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="text-500 w-6 font-medium mb-2">Puesto Laboral</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <input
                type="text"
                pInputText
                id="weight"
                name="jobTitle"
                [(ngModel)]="userDetails.JobTitle"
                [disabled]="true"
                required
                class="w-full"
              />
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="text-500 w-6 font-medium mb-2">Departamento</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <input
                type="text"
                pInputText
                id="weight"
                name="department"
                [(ngModel)]="userDetails.Department"
                [disabled]="true"
                required
                class="w-full"
              />
            </div>
          </div>
        </div>
      </li>
      <li
        class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="formgrid grid mb-2">
          <div class="col-12 md:col-3">
            <div class="text-500 w-6 font-medium mb-2">Supervisor</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-dropdown
                [options]="users"
                name="evaluatoruser"
                optionLabel="FullName"
                optionValue="UserID"
                [(ngModel)]="actionPlan.AppliedByUserID"
                [filter]="true"
                filterBy="FullName"
                [showClear]="true"
                styleClass="w-full"
                appendTo="body"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption?.FullName }}</div>
                  </div>
                </ng-template>
                <ng-template let-user pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ user.FullName }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <div class="text-500 w-6 font-medium mb-2">Desde la Fecha</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-calendar
                name="StartDate"
                appendTo="body"
                [showIcon]="true"
                [(ngModel)]="actionPlan.StartDate"
                (ngModelChange)="calculateDuration()"
                styleClass="w-full"
              ></p-calendar>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <div class="text-500 w-6 font-medium mb-2">Hasta la Fecha</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-calendar
                name="EndDate"
                appendTo="body"
                [showIcon]="true"
                [(ngModel)]="actionPlan.EndDate"
                (ngModelChange)="calculateDuration()"
                styleClass="w-full"
              ></p-calendar>
            </div>
          </div>
          <div class="col-12 md:col-3 font">
            <div class="text-500 w-6 font-medium mb-2">Duración</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <input
                type="text"
                pInputText
                id="weight"
                name="duration"
                [value]="duration + ' días'"
                [disabled]="true"
                required
                class="w-full"
              />
            </div>
          </div>
        </div>
      </li>
      <li
        class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="formgrid grid mb-2">
          <div class="text-500 col-12 md:col-6 font-medium">
            <div class="text-500 w-6 font-medium mb-2">Área de Mejora</div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <input
                type="text"
                pInputText
                id="weight"
                name="focusArea"
                [(ngModel)]="actionPlan.FocusArea"
                required
                class="w-full"
              />
            </div>
          </div>
          <div class="col-12 md:col-6">
            <div class="text-500 w-6 font-medium mb-2">
              Estado de Plan de Acción
            </div>
            <div class="text-900 w-full md:flex-order-0 flex-order-1">
              <p-dropdown
                name="optionActionPlan"
                [options]="options"
                optionLabel="name"
                optionValue="name"
                [(ngModel)]="actionPlan.ActionPlanStatus"
                styleClass="w-full"
                [showClear]="true"
                appendTo="body"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <i [class]="selectedOption?.icon"></i>
                    <div>{{ selectedOption?.name }}</div>
                  </div>
                </ng-template>
                <ng-template pTemplate="item" let-option>
                  <div class="flex align-items-center gap-2">
                    <i [class]="option.icon"></i>
                    <div>{{ option.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-12 col-12">
          <div class="text-500 w-6 font-medium mb-2">Descripción</div>
          <div class="text-900 w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.Summary"
            />
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-12 col-12">
          <div class="text-500 w-6 font-medium mb-2">Objetivos</div>
          <div class="text-900 w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.Goal"
            />
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 col-12">
          <div class="text-500 w-6 font-medium mb-2">Áreas de Exito</div>
          <div class="text-900 w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.SuccessArea"
            />
          </div>
        </div>
        <div class="w-6 col-12">
          <div class="text-500 w-6 font-medium mb-2">Áreas de Oportunidad</div>
          <div class="text-900 w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.OpportunityArea"
            />
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-6 col-12">
          <div class="text-500 w-6 font-medium mb-2">Impacto</div>
          <div class="text-900 w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.Impact"
            />
          </div>
        </div>
        <div class="w-6 col-12">
          <div class="text-500 w-6 font-medium mb-2">Análisis del Problema</div>
          <div class="text-900 w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.RootCauseAnalysis"
            />
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-12 col-12">
          <div class="text-500 w-6 font-medium mb-2">Estrategias</div>
          <div class="w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.Strategies"
            />
          </div>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="w-12 col-12">
          <div class="text-500 w-6 font-medium mb-2">Comentarios</div>
          <div class="text-900 w-full md:flex-order-0 flex-order-1">
            <p-editor
              name="comments"
              [style]="{ height: '150px' }"
              [(ngModel)]="actionPlan.Comments"
            />
          </div>
        </div>
      </li>
    </ul>
    <h4>Areas A Desarrollar</h4>
    <div
      class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
    >
      <div *ngIf="showDetallesParameters" class="flex flex-shrink-0 mb-2">
        <div class="text-400 col-12 md:col-3 font-medium">Parametro</div>
        <div class="text-400 col-12 md:col-3 font-medium">Nota Actual</div>
        <div class="text-400 col-12 md:col-3 font-medium">Nota Objetivo</div>
        <div class="text-400 col-12 md:col-2 font-medium">Estado</div>
      </div>
      <div
        *ngFor="
          let parameter of actionPlan.Parameters;
          let i = index;
          trackBy: trackByParameter
        "
        class="formgrid grid mb-3"
      >
        <div class="field col-12 md:col-3">
          <p-dropdown
            [options]="parameters"
            optionLabel="Name"
            optionValue="EvaluationParameterID"
            [(ngModel)]="parameter.EvaluationParameterID"
            placeholder="Selecciona un parámetro"
            id="parameter-{{ i }}"
            name="parameter-{{ i }}"
            appendTo="body"
            styleClass="w-full"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
          <p-dropdown
            [options]="califications"
            optionLabel="Calification"
            optionValue="EvaluationCalificationID"
            [(ngModel)]="parameter.CurrentCalificationID"
            placeholder="Selecciona una calificación"
            id="calification-{{ i }}"
            name="calification-{{ i }}"
            appendTo="body"
            styleClass="w-full"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
          <p-dropdown
            [options]="califications"
            optionLabel="Calification"
            optionValue="EvaluationCalificationID"
            [(ngModel)]="parameter.GoalCalificationID"
            placeholder="Selecciona una calificación"
            id="calification-{{ i }}"
            name="calification-{{ i }}"
            appendTo="body"
            styleClass="w-full"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-2">
          <p-dropdown
            name="option"
            [options]="paramOptions"
            optionLabel="name"
            optionValue="name"
            [(ngModel)]="parameter.GoalStatus"
            styleClass="w-full"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template pTemplate="selectedItem" let-paramSelectedOption>
              <div class="flex align-items-center gap-2">
                <i [class]="paramSelectedOption?.icon"></i>
                <div>{{ paramSelectedOption?.name }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-paramOption>
              <div class="flex align-items-center gap-2">
                <i [class]="paramOption.icon"></i>
                <div>{{ paramOption.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-1">
          <p-button
            (onClick)="removeParameter(i)"
            [text]="true"
            icon="pi pi-times"
            severity="danger"
            size="small"
          ></p-button>
        </div>
      </div>
    </div>
    <button
      type="button"
      pButton
      label="Agregar Área"
      (click)="addParameter()"
      class="mb-2"
    ></button>
    <h4>Tareas A Completar</h4>
    <div
      class="align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
    >
      <div *ngIf="showDetallesTasks" class="flex flex-shrink-0 mb-2">
        <div class="text-400 col-12 md:col-6 font-medium">Tarea</div>
        <div class="text-400 col-12 md:col-2 font-medium">
          Fecha de Seguimiento
        </div>
        <div class="text-400 col-12 md:col-3 font-medium">Estado</div>
      </div>
      <div
        *ngFor="
          let task of actionPlan.Tasks;
          let i = index;
          trackBy: trackByParameter
        "
        class="formgrid grid mb-3"
      >
        <div class="field col-12 md:col-6">
          <input
            name="Task"
            type="text"
            pInputText
            [(ngModel)]="task.Task"
            class="w-full"
          />
        </div>
        <div class="field col-12 md:col-2">
          <p-calendar
            name="FollowUpDate"
            appendTo="body"
            [(ngModel)]="task.FollowUpDate"
            [showIcon]="true"
            styleClass="w-full"
          ></p-calendar>
        </div>
        <div class="field col-12 md:col-3">
          <p-dropdown
            name="taskStatus"
            [options]="options"
            optionLabel="name"
            optionValue="name"
            [(ngModel)]="task.Status"
            styleClass="w-full"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <i [class]="selectedOption?.icon"></i>
                <div>{{ selectedOption?.name }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-option>
              <div class="flex align-items-center gap-2">
                <i [class]="option.icon"></i>
                <div>{{ option.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-1">
          <p-button
            (onClick)="removeTask(i)"
            [text]="true"
            icon="pi pi-times"
            severity="danger"
            size="small"
          ></p-button>
        </div>
      </div>
    </div>
    <button
      type="button"
      pButton
      label="Agregar Tarea"
      (click)="addTask()"
    ></button>
    <div class="flex justify-content-end mt-3">
      <button
        type="button"
        pButton
        label="Guardar"
        icon="pi pi-check"
        class="p-button-success"
        (click)="saveActionPlan()"
      ></button>
    </div>
  </form>
</div>
