<div class="surface-card p-4 shadow-2 border-round">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        severity="success"
        label="Nuevo Registro"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      ></p-button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="departments"
    [rows]="10"
    [paginator]="true"
    [(selection)]="selectedDepartments"
    [rowHover]="true"
    dataKey="DepartmentID"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros."
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h2 class="text-700 m-0">Departamentos</h2>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Name">
          Nombre de Departamento <p-sortIcon field="Name"></p-sortIcon>
        </th>
        <th pSortableColumn="Status">
          Estado <p-sortIcon field="Status"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-department>
      <tr>
        <td>{{ department.Name }}</td>
        <td>
          <p-tag
            [rounded]="true"
            [value]="department.Status ? 'Activo' : 'Inactivo'"
          ></p-tag>
        </td>
        <td>
          <div class="flex align-items-center pt-3 flex-shrink-0">
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="editDepartment(department)"
          ></p-button>
          <p-button
            icon="pi pi-eye-slash"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="warning"
            (onClick)="deactivateDepartment(department)"
          >
          </p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteDepartment(department.DepartmentID)"
          ></p-button>
        </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ departments ? departments.length : 0 }} departamentos.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="departmentDialog"
    [style]="{ width: '450px' }"
    header="Detalles de Departamento"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Departamento</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="department.Name"
          required
          autofocus
        />
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideDialog()"
      />
      <p-button
        label="Guardar"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveDepartment()"
      />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
