<div class="surface-card shadow-2 p-4 border-round">
  <h2 class="text-700 mb-2">Nuevo Cambio de Posición</h2>
  <div class="text-500 mb-5">
    Por favor ingrese los datos para registrar nueva información.
  </div>
  <form (ngSubmit)="saveInformation()">
    <ul class="list-none p-0 m-0">
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">Nombre</div>
        <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1">
          <p-dropdown
            [options]="users"
            [(ngModel)]="information.UserID"
            name="user"
            optionLabel="FullName"
            optionValue="UserID"
            [filter]="true"
            filterBy="FullName"
            [showClear]="true"
            placeholder="Selecciona un Empleado"
            (onChange)="onUserSelected($event)"
            styleClass="w-full"
            appendTo="body"
          >
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption?.FullName }}</div>
              </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ user.FullName }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">Departamento</div>
        <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1">
          <p-dropdown
            [options]="departments"
            optionLabel="Name"
            optionValue="DepartmentID"
            id="department"
            name="department"
            placeholder="Selecciona un departamento"
            [(ngModel)]="information.DepartmentID"
            styleClass="w-full"
            (onChange)="onDepartmentSelect($event)"
          ></p-dropdown>
        </div>
      </li>
      <li *ngIf="jobTitles.length > 0" class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">Puestos de Trabajo</div>
        <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1">
          <p-dropdown
            [options]="jobTitles"
            optionLabel="Title"
            optionValue="JobTitleID"
            id="jobTitle"
            name="jobTitle"
            placeholder="Selecciona un puesto de trabajo"
            styleClass="w-full"
            [(ngModel)]="information.JobPositionID"
          ></p-dropdown>
        </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">Jefe Directo</div>
        <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1">
            <p-dropdown
              [options]="managers"
              optionLabel="UserName"
              optionValue="UserID"
              id="manager"
              name="manager"
              placeholder="Selecciona jefe directo"
              styleClass="w-full"
              [(ngModel)]="information.ManagerID"
            >
            </p-dropdown>
        </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">Fecha de Inicio</div>
        <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1">
          <p-calendar
            name="startDate"
            appendTo="body"
            [(ngModel)]="information.StartDate"
            styleClass="w-full"
            [showIcon]="true"
          ></p-calendar>
        </div>
      </li>
      <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">Razón</div>
        <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1">
          <p-dropdown
            [options]="reasonOptions"
            name="reason"
            optionLabel="Description"
            optionValue="ChangeReasonID"
            [(ngModel)]="information.ReasonID"
            placeholder="Selecciona una Razón"
            styleClass="w-full"
            appendTo="body"
          ></p-dropdown>
        </div>
      </li>
    </ul>
    <div class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap justify-content-end mt-3">
      <button
        type="submit"
        pButton
        label="Guardar"
        icon="pi pi-check"
        class="p-button-success"
      ></button>
    </div>
  </form>
</div>