.static-sidebar {
    position: static; /* O cualquier otro estilo que necesites */
    width: 250px; /* Ajusta según el ancho deseado */
  }
  
  .navbar-static {
    width: calc(100% - 250px); /* Ajusta según el ancho del sidebar */
  }
  
  /* Asegúrate de que el navbar se adapte al tamaño de la pantalla */
  @media (max-width: 768px) {
    .navbar-static {
      width: 100%; /* Para pantallas más pequeñas, ocupa todo el ancho */
    }
  }