<app-home-header></app-home-header>
<p-divider type="dotted" />
<div class="surface-border-1 px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3"
              >Evaluaciones Pendientes</span
            >
            <div class="text-900 font-medium text-xl">
              {{ unreviewedEvaluationsCount }}
            </div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-file-edit text-blue-500 text-xl"></i>
          </div>
        </div>
        <span
          [routerLink]="['/home', 'evaluation', 'records']"
          class="no-underline text-green-500 font-medium"
          ><i class="pi pi-arrow-right"></i> Ver Evaluaciones</span
        >
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3"
              >Incidentes Por Revisar</span
            >
            <div class="text-900 font-medium text-xl">{{ activeIncidentsCount }}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-orange-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-clock text-orange-500 text-xl"></i>
          </div>
        </div>
        <span
          [routerLink]="['/home', 'incident']"
          class="no-underline text-green-500 font-medium"
          ><i class="pi pi-arrow-right"></i> Ver Incidentes</span
        >
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3"
              >Nuevos Comentarios</span
            >
            <div class="text-900 font-medium text-xl">{{ todayCommentsCount }}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-comments text-cyan-500 text-xl"></i>
          </div>
        </div>
        <span
          [routerLink]="['/home', 'feedback']"
          class="no-underline text-green-500 font-medium"
          ><i class="pi pi-arrow-right"></i> Ver Retroalimentación</span
        >
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3"
              >Acciones Disciplinarias</span
            >
            <div class="text-900 font-medium text-xl">{{ unacknowledgedActionsCount }}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-flag text-purple-500 text-xl"></i>
          </div>
        </div>
        <span
          [routerLink]="['/home', 'da']"
          class="no-underline text-green-500 font-medium"
          ><i class="pi pi-arrow-right"></i> Ver Acciones ...</span
        >
      </div>
    </div>
  </div>
</div>
