<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <p-button
      severity="success"
      label="Nuevo Registro"
      icon="pi pi-plus"
      class="mr-2"
      (click)="openNew()"
    ></p-button>
  </ng-template>

  <ng-template pTemplate="right">
    <p-button
          icon="pi pi-refresh"
          class="p-button-secondary p-mb-3"
          rounded="true"
          text="true"
          (onClick)="ngOnInit()"
        ></p-button>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="permissions"
  [rows]="10"
  [paginator]="true"
  [(selection)]="selectedPermissions"
  [rowHover]="true"
  dataKey="PermissionID"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} permisos."
  [showCurrentPageReport]="true"
  [globalFilterFields]="['PermissionName', 'Description']"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-right justify-content-end">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onFilterGlobal($event)"
          placeholder="Buscar"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="PermissionName">
        <div class="flex flex-shrink-0">
          Nombre<p-sortIcon field="PermissionName"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="Description">
        <div class="flex flex-shrink-0">
          Descripción <p-sortIcon field="Description"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="CategoryID">
        <div class="flex flex-shrink-0">
          Categoría <p-sortIcon field="CategoryID"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="Status">
        <div class="flex flex-shrink-0">
          Estado <p-sortIcon field="Status"></p-sortIcon>
        </div>
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-permission>
    <tr>
      <td>{{ permission.PermissionName }}</td>
      <td>{{ permission.Description }}</td>
      <td>{{ permission.CategoryName }}</td>
      <td>
        <p-tag
          [rounded]="true"
          [value]="permission.Status ? 'Activo' : 'Inactivo'"
          [severity]="permission.Status ? 'success' : 'warning'"
        ></p-tag>
      </td>
      <td>
        <div class="flex flex-shrink-0">
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (click)="editPermission(permission)"
          ></p-button>
          <p-button
            icon="pi pi-eye-slash"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="warning"
            (click)="deactivatePermission(permission)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deletePermission(permission.PermissionID)"
          ></p-button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      En total hay {{ permissions ? permissions.length : 0 }} permisos.
    </div>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="permissionDialog"
  [style]="{ width: '450px' }"
  header="Detalles de Permiso"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="permission.PermissionName"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="description">Descripción</label>
      <input
        type="text"
        pInputText
        id="description"
        [(ngModel)]="permission.Description"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="incidentType">Categoría</label>
      <p-dropdown
        [options]="permissionCategory"
        optionLabel="Name"
        optionValue="PermissionCategoryID"
        placeholder="Selecciona una categoría"
        [(ngModel)]="permission.CategoryID"
        (onChange)="onCategoryChange($event)"
        appendTo="body"
      >
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      icon="pi pi-times"
      [text]="true"
      (click)="hideDialog()"
    />
    <p-button
      label="Guardar"
      icon="pi pi-check"
      [text]="true"
      (click)="savePermission()"
    />
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '500px' }" />
